!!!
%html
  %head
    %meta content='text/html; charset=UTF-8' http-equiv='Content-Type'

  %body
    %p
      Dear
      = "#{Faker::Name.name},"
    %p
      Saluton.
      = Faker::Hacker.say_something_smart
