.sidebar
  = link_to "the scan artist", "http://morganthall.com"

.content
  Welcome to the home page.
  %pre
    You can't have everything.
    Where would you put it?
    —Steven Wright
  If you had everthing, where would you put it?
  = simple_form_for :steven, :url => '/' do |form|
    = form.text_field :place
