.sidebar
  = link_to "the scan artist", "http://morganthall.com"

.content
  Welcome to the home page.
  %pre
    You can't have everything.
    Where would you put it?
    —Steven Wright
  If you had everything, where would you put it?
  %br
  Suggestion: try putting it in zip code
  - def rdigit;rand(10);end
  .badges
    .badge=rdigit
    .badge.dark=rdigit
    .badge.error=rdigit
    .badge.notice=rdigit
    .badge.success=rdigit

  = simple_form_for :steven, :url => '/' do |form|
    = form.text_field :place
